body{
    background:url("https://www.bsiedu.gov.bd/public/frontend/assets/images/bg/bg.png") repeat-y scroll center top;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}
html,body{
    height: 100%;
}
.top-bar{
    border-top:2px solid red;
    padding:.3rem;
    background:#fff
}
.logo{
    background:#198754;
    color:#fff;
    text-align:center;
}
.menubar{
    background:#198754;
}
.menubar .dropdown-menu{
    background:#198754 !important;
    padding:0;
    border-radius:0;
    color:#fff !important;
    margin-top:1rem;
}
.menubar .nav-item a{
    color:#fff !important;
}
.menubar .dropdown-menu li a{
    padding:.5rem;
}
.menubar .dropdown-menu li{
    border-bottom:1px dashed #fff;
}
.menubar .dropdown-menu li:last-child{
    border-bottom:0px;
}
.menubar .dropdown-menu li a:hover{
    background:#36ba7d !important;
}
.container{
}
.white-bg{}
.bg-full{ 
    background:#fff;
}
.h-250{
    height:350px;
}
.padding-0{
    padding:0
}

.details-box{
    display:flex;
    text-align: left;
    flex-direction: row;
}
.details-box-icon{
    text-align: left;
    flex-direction: row;
    display: inline-flex;
    flex: 0 0 auto;
}
.details-box-icon i{
    font-size: 3rem;
    margin-right: var(--icon-box-icon-margin,15px);
    margin-left: 0;
    margin-bottom: unset;
}
.details-box-content{ 
    flex-grow: 1;
}
.details-box-content h3{
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    line-height: 26px;
}
.details-box-content h3,.details-box-content p{
    margin:0;
}
.bg-success{
    background:#198754 !important;
    border:1px solid #198754 !important;
    color:#fff;
}
.border-primary{
    border:2px solid #198754 !important;
}
.text-justify{
    text-align:justify;
}
.date-box{
    border-right:1px solid #fff;
}
.download{
    font-size:20px;
}
.latest-news{
    background:#113354;
    padding:.34rem !important;
}
.latest-news ul{
    padding-left:0; 
    margin-bottom:0;
    list-style-type:none;
}
.latest-news ul li{
    display:inline-block;
}
.latest-news ul li{
    display:inline-block;
}
.latest-news ul li a{
    text-decoration:none;
    color:#fff;
}
.latest-news ul li a i{
    padding:0 1rem;
    color:#fff;
}
.np-1{
    padding:.5rem;
}
.footer-top-bg {
    background: url(../img/footer_top_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 84px;
    margin: 0 auto;
    width: 100%;
    clear: both;
}
.infobox .list-group-item{
    border-bottom:0
}
.infobox .card{
    min-height:280px
}
.owl-carousel img{
    height:150px !important
}
